

<button class="image-button" style="background-color: @BackGroungColor" @onclick="OnClickEvento">
    <img src="@ImageUrl" alt="Icono" class="icono-boton" />
    <span class="text-boton">@ButtonText</span>
</button>



@code {
    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string BackGroungColor { get; set; }

    [Parameter] public EventCallback<EventArgs> OnClick { get; set; }

    private async Task OnClickEvento()
    {
        await OnClick.InvokeAsync(EventArgs.Empty);
    }
}
