@inject NotificacionServicio _servicioNotificacion


@foreach (var notificacion in Notificaciones)
{
    <ItemNotificacionOrganizador Notificacion="notificacion" />
}

<div>
    <ItemNotificacionInput />
</div>

@code {
    private List<NotificacionDTO> Notificaciones = new();

    protected async override Task OnInitializedAsync()
    {
        _servicioNotificacion.OnActualizarListadoNotificacionesEnviadasEvent += Actualizar;
    }

    private void Actualizar()
    {
        //pedir listado de notificaiones enviadas
        StateHasChanged();
    }
}
